BOT_TOKEN=
CLIENT_ID=
GUILD_ID=

MONGODB_URI=

PREFIX=!

EMBED_COLOR=#808080

OWNER_ID=

DASHBOARD_PORT=3000

SESSION_SECRET=

TOPGG_TOKEN=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

YOUTUBE_API_KEY=

OPENWEATHER_API_KEY=

TRANSLATE_API_KEY=

SHORTENER_API_KEY=
